ul {
    list-style-type:none
}

li {
    min-width: 100px;
    text-align: center;
}
.tab-list {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 700px;
    margin: 0 auto;
}